<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add New Todo</title>
  <link rel="stylesheet" href="newTodo.ejs/styles.css" />
</head>
<body>
    <!-- <h2>Add New Todo</h2>
    <form action="/todos" method="POST" class="todo-form">
      <input type="text" name="title" placeholder="Enter todo" required />
      <button type="submit">Add Todo</button>
    </form> -->

    <form action="/todos" method="POST" class="todo-form">
      <input type="text" name="title" placeholder="Title" required>
      <br> <br>
      <textarea name="description" placeholder="Description" required ></textarea>
      <br> <br>
      <button type="submit">Create Todo</button>
    </form>
    
</body>
</html>
